.buttonLink {
  background-color: var(--link-color);
  color: var(--text-over-primary);
  border-radius: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: none;
}


.container-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}